/************************************************************
* style.scss
* Master file importing all partials
************************************************************/

/* 1) BASE */
@use 'base/variables';
@use 'base/mixins';
@use 'base/reset';

/* 2) LAYOUT */
@use 'layout/nav';
@use 'layout/header';
@use 'layout/footer';

/* 3) COMPONENTS */
@use 'components/buttons';
@use 'components/cards';

/* 4) PAGES */
@use 'pages/home';
@use 'pages/about';
@use 'pages/contact';
@use 'pages/menu';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {

    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


.menu-page {
    &__title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    &__categories {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  
  .menu-category {
    &__title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
    }
  }
  
  .menu-item {
    border: 1px solid #ccc;
    padding: 1rem;
    &__image-wrapper {
      text-align: center;
      margin-bottom: 0.5rem;
    }
    &__image {
      max-width: 100%;
      height: auto;
    }
    &__name {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    &__description {
      margin-bottom: 0.5rem;
    }
    &__price {
      font-weight: bold;
    }
  }
  
