<%- include('partials/header') %>

<main>
  <h1><%= __('HOME_TITLE') %></h1>
  <p>Discover the best street food in town!</p>
  <p>Try our fresh, flavorful offerings. We can’t wait to serve you.</p>
  <a href="/menu">Check Our Menu</a>
</main>

<%- include('partials/footer') %>
